.ion-justify {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* Espacio entre avatar y texto */

    ion-avatar {
        border-radius: 50%;
        border: 1px solid var(--ion-color-primary);
        height: 4.5rem;
        width: 4.5rem;
        overflow: hidden;
    }

    ion-label {
        display: block;
        font-weight: 700;
        font-size: 1.1rem;
        color: black !important;
        margin: 0.6rem 0 1rem 0;
    }
}

:root {
    --ion-color-primary: #1e3a8a;
    --ion-color-primary-rgb: 30, 58, 138;
    --ion-color-primary-contrast: #ffffff;
}
:host {
    ion-content {
        --background: #dbe5dc; // Cambia este color al que prefieras
    }
}

 ion-list {
     background: transparent;
     padding: 2rem 1.5rem 1rem 1.5rem;

     ion-item {
         --background: transparent;
         --border-style: solid;
         --border-color: rgba(2, 71, 73, 0.08);
         --padding-bottom: 1rem;
         --padding-top: 1rem;
         --padding-start: 0;
         --padding-end: 0;

         ion-toggle {
            margin-right: -0.6rem;
         }
     }
 }

 ion-button {
    margin-bottom: 10vh;
 }