.ion-justify {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* Espacio entre avatar y texto */

    ion-avatar {
        border-radius: 50%;
        border: 1px solid var(--ion-color-primary);
        height: 4.5rem;
        width: 4.5rem;
        overflow: hidden;
    }

    ion-label {
        display: block;
        font-weight: 700;
        font-size: 1.1rem;
        color: black !important;
        margin: 0.6rem 0 1rem 0;
    }
}

:host {
    ion-content {
        --background: var(--ion-color-background);
    }

    ion-toolbar {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
    }

    ion-label {
        color: var(--ion-text-color);
    }

    ion-list {
        background: var(--ion-color-light);
    }

    ion-icon {
        color: var(--ion-color-warning);
    }

    ion-item:hover {
        background: #e6e9ed;
    }
}


 ion-list {
     background: transparent;
     padding: 2rem 1.5rem 1rem 1.5rem;

     ion-item {
         --background: transparent;
         --border-style: solid;
         --border-color: rgba(2, 71, 73, 0.08);
         --padding-bottom: 1rem;
         --padding-top: 1rem;
         --padding-start: 0;
         --padding-end: 0;

         ion-toggle {
            margin-right: -0.6rem;
         }
     }
 }

 ion-button {
    margin-bottom: 10vh;
 }