<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-title color="dark">Transacciones</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="ios" [value]="segmentValue" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="in">
        <ion-label>Entradas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="out">
        <ion-label>Salidas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary -shade" fullscreen>

  <ion-list class="transactions" *ngIf="transactions.length > 0">
    <ion-item-group>
      <ion-item lines="full" *ngFor="let transaction of transactions">
        <ion-icon 
          slot="start" 
          [name]="transaction.amount >= 0 ? 'arrow-up-circle' : 'arrow-down-circle'"
          [color]="transaction.amount >= 0 ? 'success' : 'danger'"
          size="large">
        </ion-icon>
        <ion-label>
          <ion-text color="primary">{{transaction.to}}</ion-text>
          <p>
            <ion-text>
              {{transaction.date | date: 'MMM d, y'}}
            </ion-text>
          </p>
        </ion-label>
        <ion-text slot="end" color="primary">
          {{transaction.amount >= 0 ? '$' + transaction.amount : '-$' + (transaction.amount * (-1))}}
        </ion-text>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>