<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="tertiary">Bienvenido</ion-text>
        <p><ion-text color="white"><strong>Marcos Vargas</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <!-- AVATAR CLICKEABLE AL PERFIL -->
    <ion-avatar slot="end" routerLink="/profile" class="avatar-clickeable">
      <img src="assets/icon/BANK.jpg" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-row class="banners">
    <swiper-container pagination="true" slides-per-view="1" space-between="10" autoplay="false" loop="true">
      <swiper-slide *ngFor="let account of account">
        <div align="center">
          <ion-label>
            <span>Balance Total</span>
            <p class="acc-amt"><ion-text color="white"> ${{ account?.balance }}</ion-text></p>
            <span>Cuenta: {{account?.acc_no}}</span>
          </ion-label>
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-row>

  
  <!-- Botones de acción -->
  
  <!--<div class="action-buttons">
    <ion-button expand="block" routerLink="/cliente/transfer" color="primary">
      <ion-icon slot="start" name="swap-horizontal"></ion-icon>
      Nueva Transferencia
    </ion-button>
  
    <ion-button expand="block" routerLink="/cliente/beneficiaries" color="primary">
      <ion-icon slot="start" name="people"></ion-icon>
      Beneficiarios
    </ion-button>
    
    <ion-button expand="block" routerLink="/cliente/history" color="primary">
      <ion-icon slot="start" name="time"></ion-icon>
      Historial
    </ion-button>-->

    <!-- BOTÓN DEL PERFIL -->
    <!--<ion-button expand="block" color="secondary" routerLink="/profile" color="primary">
      <ion-icon slot="start" name="person-circle"></ion-icon>
      Mi Perfil
    </ion-button>
  </div>
   -->

  <div class="actions-buttons">
    <button class="action-btn" routerLink="/cliente/transfer">
      <span class="icon">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </span>
      <span>Nueva transferencia</span>
    </button>

    <button class="action-btn" routerLink="/cliente/beneficiaries">
      <span class="icon">
        <ion-icon name="people-outline"></ion-icon>
      </span>
      <span>Beneficiarios</span>
    </button>

    <button class="action-btn" routerLink="/cliente/history">
      <span class="icon">
        <ion-icon name="time-outline"></ion-icon>
      </span>
      <span>Historial</span>
    </button>

    <button class="action-btn" routerLink="/profile">
      <span class="icon">
        <ion-icon name="person-circle-outline"></ion-icon>
      </span>
      <span>Mi perfil</span>
    </button>
  </div>







  <!-- Sección de transacciones -->
  <ion-list class="transactions" *ngIf="transactions.length > 0">
    <ion-list-header>
      <ion-label color="medium">Transacciones</ion-label>
    </ion-list-header>

    <ion-item-group>
      <ion-item lines="full" *ngFor="let transaction of transactions">
        <ion-icon 
          slot="start" 
          [name]="transaction?.amount >= 0 ? 'arrow-up-circle' : 'arrow-down-circle'" 
          [color]="transaction?.amount >= 0 ? 'success' : 'danger'"
          size="large">
        </ion-icon>
        <ion-label>
          <ion-text>{{transaction?.to}}</ion-text>
          <p>
            <ion-text>
              {{transaction?.date | date: 'MMM d, y'}}
            </ion-text>
          </p>
        </ion-label>
        <ion-text slot="end" color="primary">
          {{transaction?.amount >= 0 ? '$' + transaction?.amount : '-$' + (transaction?.amount * (-1))}}
        </ion-text>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>