<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tarjetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <div class="bg_circle"></div>
  
  <ion-row>
    <swiper-container 
      slides-per-view="1.2" 
      space-between="10" 
      centered-slides="true">
      <swiper-slide *ngFor="let card of cards">
        <div class="card_details ion-padding">
          <img [src]="card.company_img" alt="Card logo" />
          <div style="text-align: center">
            <ion-label>
              <div class="acc-amt"><ion-text color="light">{{card.card_no}}</ion-text></div>
              <span><ion-text color="light">{{card.card_holder}}</ion-text></span>
            </ion-label>
          </div>
          <p class="exp ion-text-start"><ion-text color="light">{{card.exp_date}}</ion-text></p>
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-row>

</ion-content>