ion-content {

    // estilos para el circulo de fondo
    .bg_circle {
        position: absolute;
        width: 33vh;
        height: 33vh;
        left: -8rem;
        top: 7vh;
        border-radius: 50%;
        background: rgba(37, 85, 243, 0.349);
    }


    ion-row {
        margin: 5vh 1rem 6vh 1rem;

        swiper-container {
            height: 37vh;
            width: 110%;

            swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            div.card_details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 32vh;
                border-radius: 2.5rem;
                padding: 0 1.5rem;
                background: rgba(255, 255, 255, 0.05);
                backdrop-filter: blur(30px);
                border: 2px solid rgba(127, 212, 168, 0.2);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

                img {
                    align-self: start;
                    width: 2.5rem;
                    margin: 1.2rem 0 1.2rem 0;
                }

                ion-label {
                    div.acc-amt {
                        margin: 0.2rem 0;
                        font-size: 1.2rem;
                        font-weight: 700;
                        letter-spacing: 0.1rem;
                        text-shadow: 
                            0px 1px 0px rgba(255, 255, 255, 0.3),
                            0px 2px 0px rgba(255, 255, 255, 0.2),
                            0px 3px 3px rgba(0, 0, 0, 0.4),
                            0px -1px 0px rgba(0, 0, 0, 0.2);
                    }

                    span {
                        font-size: 1.1rem;
                        font-weight: 500;
                        text-shadow:
                                0px 1px 0px rgba(255, 255, 255, 0.3),
                                0px 2px 0px rgba(255, 255, 255, 0.2),
                                0px 3px 3px rgba(0, 0, 0, 0.4),
                                0px -1px 0px rgba(0, 0, 0, 0.2);
                    }
                }

                p.exp {
                    font-size: 1rem;
                    font-weight: 500;
                   // align-self: start;
                    margin: 2rem 0;
                }
            }
        }
    }
    // estilos para la lista de configuraciones
    ion-list {
        ion-item {
            ion-label {
                font-size: 1.1rem !important;
                
            }
        }
    }
}