

ion-content {
    --background: var(--ion-color-primary);
}

.register-container {
    padding: 1rem 0;
}

.header-section {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--ion-color-light);
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
        color: var(--ion-color-tertiary);
        margin: 0;
    }
}

form {
    .input-item {
        --background: rgba(255, 255, 255, 0.0);
        --border-radius: 12px;
        --padding-start: 16px;
        --padding-end: 16px;
        margin-bottom: 0.8rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);

        ion-icon {
            font-size: 1.3rem;
            margin-right: 12px;
            color: black
        }

        ion-input,
        ion-select {
            --placeholder-color: rgba(17, 17, 17, 0.445);
            --placeholder-opacity: 1;
            --color: black;
            font-size: 1rem;
        }

        ion-select {
            width: 100%;
        }
    }

    .password-requirements {
        margin: -0.3rem 0 0.8rem 1rem;

        small {
            font-size: 0.75rem;
        }
    }

    .error-message {
        margin: -0.5rem 0 0.8rem 1rem;
    }

    .register-button {
        --background:  var(--ion-color-secondary);
        --background-hover: var(--ion-color-tertiary-shade);
        --border-radius: 12px;
        --padding-top: 16px;
        --padding-bottom: 16px;
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
        margin: 2rem 0 1.5rem;
        text-transform: none;
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);

        ion-spinner {
            margin-right: 8px;
        }
    }

    .login-link {
        text-align: center;
        margin-top: 1rem;

        ion-text {
            cursor: pointer;
            font-size: 0.95rem;
        }
    }
}