

ion-content {
    --background: var(--ion-color-primary);
}

.register-container {
    padding: 1rem 0;
}

.header-section {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--ion-color-light);
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
        color: var(--ion-color-tertiary);
        margin: 0;
    }
}

form {
    .input-item {
        --background: rgba(255, 255, 255, 0.0);
        --border-radius: 12px;
        --padding-start: 16px;
        --padding-end: 16px;
        margin-bottom: 0.8rem;
        border: 1px solid rgba(87, 86, 86, 0);
        backdrop-filter: blur(10px);

        ion-icon {
            font-size: 1.3rem;
            margin-right: 12px;
            color: black
        }

        ion-input,
        ion-select {
            --placeholder-color: rgba(17, 17, 17, 0.445);
            --placeholder-opacity: 1;
            --color: black;
            font-size: 1rem;
        }

        ion-select {
            width: 100%;
        }
    }

    .password-requirements {
        margin: -0.3rem 0 0.8rem 1rem;

        small {
            font-size: 0.75rem;
        }
    }

    .error-message {
        margin: -0.5rem 0 0.8rem 1rem;
    }

    ion-button.register-button {
        // Cambia estos colores a tu gusto
        --background: #ffffff;
        --background-hover: #f5f5f5;
        --background-focused: #eeeeee;
        --background-activated: #e0e0e0;
        
        --color: #1565c0;
        --color-activated: #1565c0;
        --color-focused: #1565c0;

        --border-radius: 12px;
        --box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
        --padding-top: 16px;
        --padding-bottom: 16px;

        font-size: 1.1rem;
        font-weight: 600;
        text-transform: none;
        max-width: 320px;
        margin: 2rem auto 1.5rem auto;

        ion-spinner {
            margin-right: 8px;
            --color: #1565c0;
        }
    }

    .login-link {
        text-align: center;
        margin-top: 1rem;

        ion-text {
            cursor: pointer;
            font-size: 0.95rem;
        }
    }
}