/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Swiper Styles */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* Custom Global Styles */
.swiper-pagination-bullet {
    // background-color: var(--ion-color-medium) !important;
    background: rgba(255, 255, 255, 0.33);
    opacity: 1;
}

/* Active pagination bullet style */
.swiper-pagination-bullet-active {
    background-color: var(--ion-color-white) !important;
    width: 40px;
    border-radius: 4px;
}

// Estilos para la lista de transacciones
ion-list.transactions {
    border-radius: 7vh 7vh 0 0;
    background: var(--ion-color-secondary);
    padding-bottom: 10vh;
    /*ion-list-header {
    padding-inline-start: 3.5vh;
  }*/

    ion-list-header {

        ion-label,
        ion-item {
            font-size: 15px;
            font-weight: bold;
            color: black;
        }
    }

    // Estilos para cada grupo de items (transacciones)
    ion-item-group {
        padding: 0 3.5vh;

        // Estilos para cada item (transacción)
        ion-item {
            font-weight: bold;
            --background: transparent;
            --border-style: solid; // Estilo de la línea divisoria (solid, dashed, dotted)
            --border-color: var(--ion-color-tertiary-shade); // ← COLOR DE LA LÍNEA DIVISORIA
            --padding-bottom: 1rem;
            --padding-top: 1rem;
            --padding-start: 0;

            // Estilos para el label principal (nombre de la persona)
            ion-label {
                ion-text {
                    color: var(--ion-color-dark); // ← COLOR DEL NOMBRE (Pedro Sanchez)
                    font-size: 1rem;
                }

                // Estilos para el párrafo (fecha)
                p {
                    ion-text {
                        color: var(--ion-color-medium); // ← COLOR DE LA FECHA (May 22, 2025)
                    }

                    font-size: 0.9rem;
                    font-weight: normal;
                    margin-top: 3px;
                }
            }

            // Estilos para el monto al final
            ion-text[slot="end"] {
                font-size: 1rem;
                color: black;
                // El color ya está definido en el HTML como "primary"
                // Si quieres cambiarlo, puedes usar: color: tu-color !important;
            }

            // Estilos para la miniatura/icono de la transacción
            ion-thumbnail {
                height: 6vh;
                width: 6vh;
                border-radius: 10px;
                background: var(--ion-color-white);
                box-shadow: 0px 3px 6px rgb(3 181 170 / 4%); // Sombra sutil para el efecto de elevación


            }
        }
    }
}

// Estilos globales para Ionic Alerts con HTML
.alert-wrapper {
    .alert-message {
        strong {
            font-weight: 600;
            color: var(--ion-color-dark);
        }
        
        br {
            display: block;
            content: "";
            margin-top: 0.5rem;
        }
        
        p {
            margin: 0.3rem 0;
        }
        
        div {
            margin: 0.2rem 0;
        }
    }
}